* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#body-div {
  padding-top: 100px;
  color: white;
  background-color: rgba(0, 0, 0, 0.582);
  margin-left: 10%;
  margin-right: 10%;
}
#header-img {
  margin: 3px;
}
#company-name {
  align-self: center;
  margin-left: 10px;
  font-size: 35px;
}
#header {
  display: flex;
  background-color: black;
  color: white;
  position: fixed;
  width: 100%;
  height: 70px;
}
#nav-bar {
  align-self: center;
  margin-right: 10px;
  margin-left: auto;
}
.nav-link {
  margin-right: 5px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  padding: 15px 10px 15px 10px;
  color: white;
  text-decoration: none;
}
.nav-link:hover {
  border-color: red;
  color: red;
  text-decoration: none;
}
.estus-description {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 20px;
  padding-bottom: 10px;
  text-align: justify;
}
#description-title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}
#video {
  max-width: 100%;
  display: block;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
#form {
  padding: 10px 30px 10px 0;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 30px;
  border-style: hidden hidden hidden solid;
  border-color: rgb(131, 4, 4);
  background: linear-gradient(
    90deg,
    rgba(131, 61, 4, 0.692),
    rgba(145, 59, 1, 0)
  );
  border-width: 5px;
}
#email-label {
  margin-left: 8px;
  margin-bottom: 10px;
  font-size: 18px;
}
#email {
  margin-left: 8px;
}
#video-title {
  text-align: center;
  font-size: 40px;
  margin-top: 50px;
  margin-bottom: -20px;
}
#background-bottom {
  width: 100%;
  height: auto;
  position: fixed;
  bottom: -170px;
  left: 0;
  z-index: -1;
  background-color: rgb(0, 0, 0);
  opacity: 0.95;
  padding-top: 1000px;
}

.separation-line {
  height: 5px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  );
}
#item-list {
  display: flex;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-bottom: 50px;
  padding-top: 30px;
  flex-wrap: wrap;
  justify-content: center;
}
#products-title {
  font-size: 50px;
  color: white;
  text-align: center;
  padding-top: 30px;
}
.item {
  border-style: double;
  border-color: white;
  border-width: 6px;
  min-width: 350px;
  max-width: 350px;
  padding: 20px;
  margin: 10px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.item-description {
  text-align: center;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
}
.item-title {
  text-align: center;
  font-size: 35px;
  padding-bottom: 10px;
}
.item-price {
  color: gold;
  text-align: center;
  font-size: 30px;
}
.buy-button {
  display: block;
  width: 80px;
  height: 30px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 166, 0, 0);
  border-color: white;
  color: white;
}
.buy-button:hover {
  border-style: solid;
  border-width: 2px;
  border-color: red;
  color: red;
}
.item-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.plus {
  font-size: 30px;
  font-weight: 800;
  align-self: center;
}
.item-count {
  align-self: flex-end;
  font-size: 20px;
  margin-right: -40px;
  color: orange;
}
.image-box {
  display: flex;
}
#footer {
  background-color: black;
  height: 70px;
  width: auto;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.footer-link {
  text-decoration: none;
  color: white;
  padding-right: 50px;
  font-size: 22px;
}
.footer-link:hover {
  color: red;
  text-decoration: none;
}

@media (max-width: 610px) {
  .nav-link {
    padding: 5px 3px 5px 3px;
    margin-right: 0;
  }
  #header {
    height: 50px;
  }
  #company-name {
    font-size: 20px;
  }
}
@media (max-width: 1000px) {
  #background-bottom {
    width: 1000px;
    height: auto;
  }
}
